* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100% ;
    height: 100px ;
    background-color: black;

}

header {
    color: rgb(0, 0, 0) ;
    height: 15vh ;
    background-color: #fff;
    
}

.head_container h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 13%;
    top: 2rem;


}

.inscription{
    padding: 0.5rem ;
    color: rgb(0, 0, 0) ;
    background-color: transparent;
    border-radius: 8px ;
    opacity: 0.5 ;
    position: absolute;
    left: 77%;
    top: 2.5rem;
    
}

.title {
    position: absolute;
    top: 6em;
    left: 7em;
    font-size: 30px ;
}

.main_container h1 {
    color: white ;
    border-left: 4px white solid ;
    font-family: cursive ;
    border-left-style: solid ;
    letter-spacing: 5px ;
    padding-left: 1rem ;
}

#btn_1 {
    position: absolute;
    top: 27em;
    left: 15em;
    padding: 1.5rem ;
    font-size: 15px ;
    background-color: rgb(11, 71, 173) ;
    cursor: pointer;
    color: white ;
    border: none ;
    border-radius: 8px ;
    transition: 0.7s linear ;
    
}


#btn_1:hover {
    color:rgb(15, 71, 167) ;
    background-color: white ;
    
}

.card_container {
    display: flex ;
    flex-direction: row ;
    border: 2px solid white ;
    margin-top: 19rem ;
}


footer {
    
    height: 25vh ;
    color: rgb(0, 0, 0) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 12px ;
    background-color:rgb(234, 234, 234) ;
    opacity: 0.5 ;
    margin-top: 40rem ;
}


