* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Jersey;
    src: url('./fonts/Jersey25-Regular.ttf');
}

body {
    width: 100% ;
    height: 100vh ;
    background-image: url('./Photos/pexels-gantas-5956910.jpg');
    background-size: cover;
}

header {
    color: #fff;
    height: 15vh ;
    
}

.logo h2 {
    font-family: 'Jersey';
    font-size: 45px;
    margin-left: 4.5em;
    margin-top: 1.2em;    

}

em {
    color:rgb(11, 71, 173) ; ;
}

.inscription{
    padding: 0.9rem ;
    margin-left: 79em;
    position: relative;
    bottom: 3.9em;
    color: rgb(255, 255, 255) ;
    background-color:rgb(11, 71, 173) ;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;

    
}

.inscription:hover {
    color: rgb(11, 71, 173);
    background-color: #fff;
    transition: 400ms linear ;
}

.title {
    margin-left: 8em;
    margin-top: 2em;
    font-size: 30px ;
}

.main_container h1 {
    color: rgb(255, 255, 255) ;
    border-left: 4px rgb(255, 255, 255) solid ;
    font-family: cursive ;
    border-left-style: solid ;
    letter-spacing: 5px ;
    padding-left: 1rem ;
    animation: slideIn 2.5s  ease;
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
    
}

.main_container p {
    color: white;
    font-size: 30px;
    margin-top: 1.5em;
}
    
#btn_1 {
    margin-left: 20em ;
    margin-top: 4em;
    padding: 1.5rem ;
    font-size: 15px ;
    background-color: rgb(11, 71, 173) ;
    cursor: pointer;
    color: white ;
    border: none ;
    border-radius: 8px ;
    transition: 400ms linear ;
    
}


#btn_1:hover {
    color:rgb(15, 71, 167) ;
    background-color: white ;
    
}


    color: white;
}



